<a href="https://colab.research.google.com/github/ducnguyen1704/Pandas/blob/master/TruyCapDuLieu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Thực hành] Truy cập dữ liệu trong DataFrame

![image.png]()

1. Đọc dữ liệu

In [1]:
import pandas as pd
df=pd.read_csv('https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2021/12/31021019/FoodPrice_in_Turkey.csv')
df.head()

              Place  ProductId    ProductName  UmId UmName  Month  Year   Price
0  National Average         52  Rice - Retail     5     KG      5  2013  4.4920
1  National Average         52  Rice - Retail     5     KG      6  2013  4.5786
2  National Average         52  Rice - Retail     5     KG     11  2013  4.7865
3  National Average         52  Rice - Retail     5     KG     12  2013  5.1337
4  National Average         52  Rice - Retail     5     KG      1  2014  5.5099

2. Sử dụng Iloc để truy cập dữ liệu

In [3]:
# Truy cập 1 dòng
iloc_1 = df.iloc[4] # Lấy ở dòng thứ 5 với dòng có chỉ số = 4
iloc_1

Place          National Average
ProductId                    52
ProductName       Rice - Retail
UmId                          5
UmName                       KG
Month                         1
Year                       2014
Price                    5.5099
Name: 4, dtype: object

In [4]:
# Truy cập các dòng có chỉ số liên tục từ 3 tới 8 của dữ liệu
iloc_2 = df.iloc[3:8]
iloc_2

              Place  ProductId    ProductName  UmId UmName  Month  Year   Price
3  National Average         52  Rice - Retail     5     KG     12  2013  5.1337
4  National Average         52  Rice - Retail     5     KG      1  2014  5.5099
5  National Average         52  Rice - Retail     5     KG      2  2014  5.8146
6  National Average         52  Rice - Retail     5     KG      3  2014  6.0014
7  National Average         52  Rice - Retail     5     KG      5  2014  6.3202

In [5]:
# Truy cập các dòng rời rạc của dữ liệu
iloc_3 = df.iloc[[3,5,7]]
iloc_3

              Place  ProductId    ProductName  UmId UmName  Month  Year   Price
3  National Average         52  Rice - Retail     5     KG     12  2013  5.1337
5  National Average         52  Rice - Retail     5     KG      2  2014  5.8146
7  National Average         52  Rice - Retail     5     KG      5  2014  6.3202

In [7]:
# Truy cập cột thứ 4 của dữ liệu
# : được sử dụng để đại diện cho tất cả các dòng.
iloc = df.iloc[:,4]
iloc

0       KG
1       KG
2       KG
3       KG
4       KG
        ..
7376    KG
7377    KG
7378    KG
7379    KG
7380    KG
Name: UmName, Length: 7381, dtype: object

In [8]:
# Truy cập các cột liên tục từ cột 3 tới cột 8 của dữ liệu(bao gồm cột 3,4,5,6,7)
tg = df.iloc[:,3:8]
tg

      UmId UmName  Month  Year    Price
0        5     KG      5  2013   4.4920
1        5     KG      6  2013   4.5786
2        5     KG     11  2013   4.7865
3        5     KG     12  2013   5.1337
4        5     KG      1  2014   5.5099
...    ...    ...    ...   ...      ...
7376     5     KG      8  2019  47.9040
7377     5     KG      9  2019  49.1176
7378     5     KG     10  2019  50.8347
7379     5     KG     11  2019  51.7985
7380     5     KG     12  2019  51.6071

[7381 rows x 5 columns]

In [10]:
# Truy cập cột thứ 3 của dữ liệu
# truy cập 5 dòng đầu của cột thứ 3
iloc = df.iloc[:5,3]
iloc

0    5
1    5
2    5
3    5
4    5
Name: UmId, dtype: int64

In [12]:
# Truy cập cột thứ 6 của dữ liệu
# truy cập dòng 3,4,8 đầu của cột thứ 6
iloc = df.iloc[[3,4,8],6]
iloc

3    2013
4    2014
8    2014
Name: Year, dtype: int64

In [13]:
# Truy cập tới các phần tử từ dòng 3 đến dòng 4 của cột 5 đến cột 6 của dữ liệu
tg = df.iloc[3:5,5:7]
tg

   Month  Year
3     12  2013
4      1  2014

3. Sử dụng phương thức loc để truy cập dữ liệuloc có thể làm việc được với chỉ số hàng, tên cột và các biểu thức điều kiện của cột

In [14]:
# Truy cập dòng có chỉ số 3 của dữ liệu
tg = df.loc[3]
tg

Place          National Average
ProductId                    52
ProductName       Rice - Retail
UmId                          5
UmName                       KG
Month                        12
Year                       2013
Price                    5.1337
Name: 3, dtype: object

In [17]:
# Truy cập cột thứ 4 của dữ liệu
tg = df.loc[:,'UmName']
tg

0       KG
1       KG
2       KG
3       KG
4       KG
        ..
7376    KG
7377    KG
7378    KG
7379    KG
7380    KG
Name: UmName, Length: 7381, dtype: object

In [18]:
# Truy cập cột thứ 4,5 của dữ liệu
tg = df.loc[:,['UmName','Month']]
tg

     UmName  Month
0        KG      5
1        KG      6
2        KG     11
3        KG     12
4        KG      1
...     ...    ...
7376     KG      8
7377     KG      9
7378     KG     10
7379     KG     11
7380     KG     12

[7381 rows x 2 columns]

In [20]:
# Truy cập 6 dòng của cột thứ 4,5 của dữ liệu
tg = df.loc[:5,['UmName','Month']]
tg

  UmName  Month
0     KG      5
1     KG      6
2     KG     11
3     KG     12
4     KG      1
5     KG      2

In [21]:
# Truy cập dòng 1,3,5 của cột thứ 4,5 của dữ liệu
tg = df.loc[[1,3,5],['UmName','Month']]
tg

  UmName  Month
1     KG      6
3     KG     12
5     KG      2

In [22]:
# Truy cập tới phần tử tại dòng 3 cột 7 của dữ liệu
tg = df.loc[3,'Price']
tg

5.1337

In [23]:
# Truy cập tới phần tử có Year >=2019
tg = df.loc[df.Year >= 2019]
tg

                 Place  ProductId  ...  Year    Price
54    National Average         52  ...  2019   8.4275
55    National Average         52  ...  2019   8.7656
56    National Average         52  ...  2019   8.8101
57    National Average         52  ...  2019   8.9266
58    National Average         52  ...  2019   9.1866
...                ...        ...  ...   ...      ...
7376             Izmir        502  ...  2019  47.9040
7377             Izmir        502  ...  2019  49.1176
7378             Izmir        502  ...  2019  50.8347
7379             Izmir        502  ...  2019  51.7985
7380             Izmir        502  ...  2019  51.6071

[2124 rows x 8 columns]

4. Thay thế các giá trị trong DataFrame

In [24]:
df.replace(5,10, inplace=True) # Thay số 5 bằng số 10 trong toàn bộ dữ liệu
df.head()

              Place  ProductId    ProductName  UmId UmName  Month  Year   Price
0  National Average         52  Rice - Retail    10     KG     10  2013  4.4920
1  National Average         52  Rice - Retail    10     KG      6  2013  4.5786
2  National Average         52  Rice - Retail    10     KG     11  2013  4.7865
3  National Average         52  Rice - Retail    10     KG     12  2013  5.1337
4  National Average         52  Rice - Retail    10     KG      1  2014  5.5099

In [25]:
df.replace(2013,2022, inplace=True) # Thay năm 2013 =  năm 2022 trong toàn bộ dữ liệu
df.head()

              Place  ProductId    ProductName  UmId UmName  Month  Year   Price
0  National Average         52  Rice - Retail    10     KG     10  2022  4.4920
1  National Average         52  Rice - Retail    10     KG      6  2022  4.5786
2  National Average         52  Rice - Retail    10     KG     11  2022  4.7865
3  National Average         52  Rice - Retail    10     KG     12  2022  5.1337
4  National Average         52  Rice - Retail    10     KG      1  2014  5.5099

In [26]:
# Thay mã sản phẩm từ giá trị 52 thành DA trong toàn bộ dữ liệu
# DA là chuỗi ký tự nên được để trong cặp dấu nháy đơn
df.replace(52,'DA',inplace = True)
df.head()

              Place ProductId    ProductName  UmId UmName  Month  Year   Price
0  National Average        DA  Rice - Retail    10     KG     10  2022  4.4920
1  National Average        DA  Rice - Retail    10     KG      6  2022  4.5786
2  National Average        DA  Rice - Retail    10     KG     11  2022  4.7865
3  National Average        DA  Rice - Retail    10     KG     12  2022  5.1337
4  National Average        DA  Rice - Retail    10     KG      1  2014  5.5099

In [27]:
# Thay giá trị 10 trong cột Month thành giá trị 5
df['Month'].replace(10,5,inplace = True)
df.head()

              Place ProductId    ProductName  UmId UmName  Month  Year   Price
0  National Average        DA  Rice - Retail    10     KG      5  2022  4.4920
1  National Average        DA  Rice - Retail    10     KG      6  2022  4.5786
2  National Average        DA  Rice - Retail    10     KG     11  2022  4.7865
3  National Average        DA  Rice - Retail    10     KG     12  2022  5.1337
4  National Average        DA  Rice - Retail    10     KG      1  2014  5.5099

In [32]:
# Thay giá trị KG trong cột UmName thành giá trị SA
df['UmName'].replace('KG','SA',inplace = True)
df.head()

              Place ProductId    ProductName  UmId UmName  Month  Year   Price
0  National Average        DA  Rice - Retail    10     SA      5  2022  4.4920
1  National Average        DA  Rice - Retail    10     SA      6  2022  4.5786
2  National Average        DA  Rice - Retail    10     SA     11  2022  4.7865
3  National Average        DA  Rice - Retail    10     SA     12  2022  5.1337
4  National Average        DA  Rice - Retail    10     SA      1  2014  5.5099